# This file serves as an example of what your .env file could look like.
# Although it's usually best to use relative paths, below is how you
# would set absolute paths. 
# If you're using R or Stata, these should be absolute paths
# .env.example_alt

DATA_DIR="C:/Users/usernamehere/Documents/data"
OUTPUT_DIR=./_output
START_DATE=1913-01-01
END_DATE=2023-10-01
WRDS_USERNAME=usernamehere
# R_LIB=C:/Users/%s/Documents/R_libs_4.4_isolated
# STATA_EXE=stata-mp
# STATA_EXE=StataMP-64.exe